pymupdf
pdfplumber
camelot-py[cv]
tabula-py
opencv-python
sqlalchemy
psycopg2-binary
streamlit
spacy
textblob
sentence-transformers
faiss-cpu
matplotlib
seaborn
wordcloud
docx2pdf
python-docx
reportlab
googletrans==4.0.0-rc1
pdf2docx
